@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
}

/*================================================== NAVBAR=============================================*/

.m-gris {
    background: #8C8C8C;
    margin: 20px;
    padding: 0px;
    height: 1px;
    width: 100%;
}

.navbar>.container {
    flex-direction: column;
    align-items: flex-start;
}


.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.navbar-nav>li>a {
    text-decoration: none;
    color: white;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav>li>a:hover {
    text-decoration: none;
    color: #2E9999;
}

.cabecera-r>a>img {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px;
}

.navbar-toggler{
    background-color: rgba(46, 153, 153, 60%);
    border: 3px;
}

/* ############################################################ BOTON FLOTANTE ############################################################################# */

#toTop {

    position: fixed;
    bottom: 50%;
    right: 0px;
    cursor: pointer;
    display: none;
    z-index: 600;
}

#toTopcel {

    position: fixed;
    bottom: 0;
    right: 0px;
    cursor: pointer;
    display: none;
    z-index: 600;
    width: 100%
}

.btn-principal,
.btn-principal:visited,
.btn-principal:active {
    color: #FFF;
    background: #2E9999;
    border-color: #2E9999;
    width: 100%;
    border-radius: 0px;
}

.btn-principal:focus {
    color: #FFF;
    background-color: #2E9999;
    border-color: #2E9999;
}

.btn-principal:hover {
    color: #FFF;
    background-color: #666;
    border-color: #666;
}

/*================================================ FITNESS ===============================================================*/

.fitness-section {
    min-height: 600px;
    padding-top: 140px;

    text-align: center;
    background: #000000;
}


.titulo-n {
    font-size: 55px;
    color: #FFF;
    text-align: left;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

.parrafo2 {
    font-size: 14px;
    text-align: justify;
    color: #fff;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
}

/* ======================================== VIDEO PROMO ==================================== */

.image-section {
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* ======================================== CLASES Y ANIMACION ==================================== */

.animacion-seccion {
    margin-bottom: 0px;
    text-align: center;
    background: #000000;
}

.clases-seccion {
    padding-top: 140px;
    margin-bottom: 0px;
    text-align: center;
    background: #000000;
}

.carousel {
    position: relative;
    margin-top: 0px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ############################################################ GALERIA ############################################################################# */

.galeria {
    margin-right: 0px;
    margin-left: 0px;
}

.horarios-seccion {
    padding-top: 140px;
    margin-bottom: 0px;
    text-align: center;
    background: #000000;
}

.titulo-sec2 {
    font-size: 55px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

/* ############################################################ SECCION 2 ############################################################################# */


.imagen2-seccion {
    background-image: url('../imagenes/instalaciones_01.jpg');
    background-color: #cccccc;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 140px;
}

@media (max-width: 900px) {
    .imagen2-seccion {
        background-image: url('../imagenes/instalaciones_011.jpg');
        /* The image used */
        height: 400px;
    }
}

/* ############################################################ CONTACTO ############################################################################# */

.contacto-seccion {
    min-height: 850px;
    padding-top: 140px;
    text-align: center;
    background: #000000;
}

.parrafo3 {
    font-size: 14px;
    text-align: center;
    color: #2E9999;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.ico {
    margin-right: 10px;
}

.ico-menu {
    text-align: right;
    color: #15384D;
}

/* ############################################################ FOOTER ############################################################################# */

.footer-seccion {
    min-height: 100px;
    padding-top: 20px;
    text-align: center;
    background: #000000;
}

.titulo-f {
    font-size: 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 15px;
    padding-bottom: 18px;
    padding-top: 10px;
}

.titulo-f>a {
    font-size: 15px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

/* ############################################################ OTRAS HTML (NO MAIN) ############################################################################# */

.cuerpo {
    background-color: #000000;
}

/* ############################################################ BENEFICIOS ############################################################################# */


.titulo-beneficios {
    font-size: 55px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

@media (max-width: 600px) {
    .titulo-beneficios {
        font-size: 40px;
        line-height: 50px;
    }
}

.titulo-b {
    font-size: 45px;
    color: #DAFF42;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

@media (max-width: 600px) {
    .titulo-b {
        font-size: 30px;
        line-height: 40px;
    }
}

.titulo-b2 {
    font-size: 45px;
    color: #DAFF42;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

@media (max-width: 600px) {
    .titulo-b2 {
        font-size: 30px;
        line-height: 40px;
    }
}

.beneficios {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #FFF;
    font-size: 15px;
    color: #FFF;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .beneficios {
        font-size: 12px;
        line-height: 23px;
    }
}

/* ############################################################ CONTACTO ############################################################################# */


.titulo-sec2 {
    font-size: 55px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

@media (max-width: 600px) {
    .titulo-sec2 {
        font-size: 35px;
        line-height: 35px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: white;
    background-color: #242424;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-principal,
.btn-principal:visited,
.btn-principal:active {
    color: #FFF;
    background: #2E9999;
    border-color: #2E9999;
    width: 100%;
    border-radius: 0px;
}

.btn-principal:focus {
    color: #FFF;
    background-color: #2E9999;
    border-color: #2E9999;
}

.btn-principal:hover {
    color: #FFF;
    background-color: #666;
    border-color: #666;
}

/* ############################################################ CONVENIOS ############################################################################# */


.titulo-b2 {
    font-size: 45px;
    color: #DAFF42;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

@media (max-width: 600px) {
    .titulo-b2 {
        font-size: 30px;
        line-height: 40px;
    }
}

.titulo-f2 {
    font-size: 13px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;
    padding-bottom: 18px;
}