@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
}

/*================================================== NAVBAR=============================================*/

.m-gris {
    background: #8C8C8C;
    margin: 20px;
    padding: 0px;
    height: 1px;
    width: 100%;
}

.navbar>.container {
    flex-direction: column;
    align-items: flex-start;
}


.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.navbar-nav>li>a {
    text-decoration: none;
    color: white;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav>li>a:hover {
    text-decoration: none;
    color: #2E9999;
}

.cabecera-r>a>img {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px;
}

.navbar-toggler{
    background-color: rgba(46, 153, 153, 60%);
    border: 3px;
}

/* ############################################################ BOTON FLOTANTE ############################################################################# */

#toTop {

    position: fixed;
    bottom: 50%;
    right: 0px;
    cursor: pointer;
    display: none;
    z-index: 600;
}

#toTopcel {

    position: fixed;
    bottom: 0;
    right: 0px;
    cursor: pointer;
    display: none;
    z-index: 600;
    width: 100%
}

.btn-principal,
.btn-principal:visited,
.btn-principal:active {
    color: #FFF;
    background: #2E9999;
    border-color: #2E9999;
    width: 100%;
    border-radius: 0px;
}

.btn-principal:focus {
    color: #FFF;
    background-color: #2E9999;
    border-color: #2E9999;
}

.btn-principal:hover {
    color: #FFF;
    background-color: #666;
    border-color: #666;
}

/*================================================ FITNESS ===============================================================*/

.fitness-section {
    min-height: 600px;
    padding-top: 140px;

    text-align: center;
    background: #000000;
}


.titulo-n {
    font-size: 55px;
    color: #FFF;
    text-align: left;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}

.parrafo2 {
    font-size: 14px;
    text-align: justify;
    color: #fff;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
}

/* ======================================== VIDEO PROMO ==================================== */

.image-section {
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* ======================================== CLASES Y ANIMACION ==================================== */

.animacion-seccion {
    margin-bottom: 0px;
    text-align: center;
    background: #000000;
}

.clases-seccion {
    padding-top: 140px;
    margin-bottom: 0px;
    text-align: center;
    background: #000000;
}

.carousel {
    position: relative;
    margin-top: 0px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ############################################################ GALERIA ############################################################################# */

.galeria {
    margin-right: 0px;
    margin-left: 0px;
}

.horarios-seccion {
    padding-top: 140px;
    margin-bottom: 0px;
    text-align: center;
    background: #000000;
}

.titulo-sec2 {
    font-size: 55px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 55px;
}